:root {
  --primary-color: #242526;
}

html {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #31a24c;
  top: 1px;
  right: 54px;
}

.has-sub-menu {
  position: relative;
}

.has-sub-menu:active .header-sub-menu {
  display: block;
}
