.header {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: var(--primary-color);
}

.header__nav-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  margin-left: 15px;
  margin-right: 10px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 40px;
  height: 40px;
}

.header__search {
  background-color: #3a3b3c;
  width: 240px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #9ea1a6;
}
.header__search-img {
  width: 15px;
  margin: 10px;
}
.header__search-input {
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  padding: 0 5px;
  border: 0;
}

.header__nav-center {
  width: 545px;
  height: 100%;
  margin: 0 160px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.header__nav-item {
  width: 110px;
  height: 100%;
  padding: 0 20px;
}

.header-item-link {
  width: 105px;
  height: 53px;
  align-items: center;
  justify-content: center;
  transition: height linear 0.1s;
}

.header-item-link:hover {
  background-color: #4d4c4c;
  border-radius: 10px;
}

.header-item-icon {
  color: #fff;
  fill: #b0b3b8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav-right {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  margin-left: 50px;
}

.header__nav-user {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 85px;
  height: 40px;
}

.header__nav-user:hover {
  background-color: #3a3b3c;
  border-radius: 20px;
}

.header__nav-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__nav-user-name {
  color: #fff;
  font-size: 16px;
  padding-left: 8px;
  cursor: pointer;
}

.header__nav-menu {
}

.header-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0 8px 0 0;
  background-color: #3a3b3c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-menu-link:hover {
  background-color: #595b5c;
}

.header-menu-icon {
  color: #e4e6eb;
  display: block;
}

/* container */
.app__container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  background-color: #18191a;
  height: 100%;
}

.left-sidebar {
  flex-basis: 25%;
  position: relative;
  margin-left: 12px;
}

.imp-links {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #3e4042;
}

.imp-links-link {
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: #e4e6eb;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.imp-links-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  cursor: pointer;
}

.imp-links a img {
  width: 35px;
  margin-right: 12px;
}

.sidebar-see-more {
  color: #e4e6eb;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.sidebar-see-more:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  cursor: pointer;
}

.see-more-icon {
  font-size: 25px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 15px; */
  margin-right: 10px;
  background-color: #303031;
  border-radius: 50%;
}

.shortcut-side {
  display: flex;
  flex-direction: column;
}

.shortcut-text {
  color: #a9acb0;
  margin-top: 15px;
}

.shortcut-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e4e6eb;
  margin-top: 15px;
  height: 50px;
}

.shortcut-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.shortcut-img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcut-see-more {
  font-size: 25px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 15px; */
  margin-right: 10px;
  background-color: #303031;
  border-radius: 50%;
}

.main-content {
  flex-basis: 47%;
  padding: 0 80px;
}

.right-sidebar {
  flex-basis: 25%;
  color: #e4e6eb;
  background-color: #242526;
  margin-right: 12px;
}

.right-sidebar a {
  color: blue;
  text-decoration: none;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
}

.sidebar-title h4 {
  font-size: 18px;
  font-weight: 500;
}

.sidebar-title a {
  margin-right: 15px;
  font-size: 12px;
}

.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

.event p {
  font-size: 12px;
}

.event a {
  font-size: 12px;
}

.left-event h3 {
  font-size: 16px;
  font-weight: 500;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #555;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.right-event h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.right-event p {
  margin-bottom: 8px;
}
.right-event a {
  margin-top: 8px;
}

.sidebar-ads {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  height: 50px;
  cursor: pointer;
}

.online-list:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.online-list p {
  font-size: 15px;
  font-weight: 400;
}

.online-user {
  margin-right: 12px;
  margin-left: 15px;
  position: relative;
}

.online-user::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #31a24c;
  bottom: 4px;
  right: -3px;
}

.online-user__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* main content */
.post-container {
  background: #242526;
  padding: 15px 20px 8px 20px;
  border-radius: 6px;
}

.post-up {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #3a3b3c;
  padding-bottom: 10px;
  cursor: pointer;
}

.post-user-img {
  width: 40px;
  border-radius: 50%;
}

.post-user-img:hover {
  opacity: 0.8;
}

.post-user-input {
  margin-left: 10px;
  width: 100%;
  height: 40px;
  background: #3a3b3c;
  color: #d6d0b8;
  border: none;
  border-radius: 20px;
  font: 14px;
  font-weight: 500;
  padding: 0 15px;
  cursor: pointer;
  outline: none;
}

.post-user-input::placeholder {
  color: #ccc;
}

.post-user-input:hover {
  background: #4b4c4d;
}

.post-down {
  display: flex;
  justify-content: space-between;
}

.post-link {
  flex-basis: 33.3333%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #c1c2c5;
  font-weight: 300;
  font-size: 14px;
  margin: 8px 7px 0 0;
  text-align: right;
  width: 100%;
  height: 40px;
}

.post-link:hover {
  background-color: #3a3b3c;
  border-radius: 10px;
}

.post-link-img {
  width: 25px;
  margin-right: 8px;
}

/* new post */
.new-post-container {
  margin-top: 20px;
  background-color: #242526;
  border-radius: 6px;
}

.new-post-top {
}
.post-user-avatar {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
