.header {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: var(--primary-color);
}

.header__nav-left {
  display: flex;
  align-items: center;
  height: 55px;
}

.header__logo {
  margin-left: 15px;
  margin-right: 10px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 40px;
  height: 40px;
}

.header__search {
  background-color: #3a3b3c;
  width: 240px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #9ea1a6;
}
.header__search-img {
  width: 15px;
  margin: 10px;
}
.header__search-input {
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  padding: 0 5px;
  border: 0;
}

.header__nav-center {
  width: 545px;
  margin: 0 160px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__nav-item {
  width: 110px;
}

.header-item-icon {
  color: #fff;
  fill: #b0b3b8;
}

.header-item-link {
}
